*.pyc
*.html
.pybuild/
build-stamp
build/
debian/drobo-utils.debhelper.log
debian/drobo-utils.postinst.debhelper
debian/drobo-utils.prerm.debhelper
debian/drobo-utils.substvars
debian/drobo-utils/
debian/files
debian/.debhelper/
