Source: drobo-utils
Section: python
Priority: extra
Maintainer: Peter Silva <Peter.A.Silva@gmail.com>
Uploaders: Chris AtLee <chris@atlee.ca>
Build-Depends: python-support (>= 0.6), debhelper (>= 5), python-all-dev, libsgutils1-dev
Standards-Version: 3.8.0

Package: drobo-utils
Architecture: all
Recommends: parted, python-qt4
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: manage data robotics storage units (drobos)
 Python gui, cli, and api providing the "Dashboard" functionality.
 If you fire up droboview, it should look pretty familiar to those who 
 have seen the dashboard on other operating systems.  Droboview is built 
 on a little programmer interface which can be installed on the system 
 and used by other applications as well.  For experienced Linux hands, 
 there is a command line interface, drobom, which offers the same 
 functionality as droboview.
